In [19]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('../chapter3/Houses.csv', index_col=0)
df

,address,city,floor,id,latitude,longitude,price,rooms,sq,year
0,Podgórze Zabłocie Stanisława Klimeckiego,Kraków,2,23918,50.049224,19.970379,749000.0,3,74.05,2021
1,Praga-Południe Grochowska,Warszawa,3,17828,52.249775,21.106886,240548.0,1,24.38,2021
2,Krowodrza Czarnowiejska,Kraków,2,22784,50.066964,19.920025,427000.0,2,37.00,1970
3,Grunwald,Poznań,2,4315,52.404212,16.882542,1290000.0,5,166.00,1935
4,Ochota Gotowy budynek. Stan deweloperski. Osta...,Warszawa,1,11770,52.212225,20.972630,996000.0,5,105.00,2020
...,...,...,...,...,...,...,...,...,...,...
23759,Stare Miasto Naramowice,Poznań,0,3976,52.449649,16.949408,543000.0,4,77.00,2020
23760,Włochy,Warszawa,4,10206,52.186109,20.948438,910000.0,3,71.00,2017
23761,Nowe Miasto Malta ul. Katowicka,Poznań,0,4952,52.397345,16.961939,430695.0,3,50.67,2022
23762,Podgórze Duchackie Walerego Sławka,Kraków,6,24148,50.024231,19.959569,359000.0,2,38.86,2021
23763,Ursynów,Warszawa,2,10889,52.141039,21.032321,604800.0,3,63.00,1978

In [53]:
global_id = 0
city_name_to_id = {}
cat_cities = []

for (_, name) in enumerate(df['city']):
    if name in city_name_to_id:
        cat_cities.append(city_name_to_id[name])
    else:
        city_name_to_id[name] = global_id
        global_id += 1
        cat_cities.append(city_name_to_id[name])

In [61]:
x = df.drop(['address', 'city', 'id', 'sq', 'latitude', 'longitude'], axis=1)
x['city'] = cat_cities
x

       floor      price  rooms  year  city
0          2   749000.0      3  2021     0
1          3   240548.0      1  2021     1
2          2   427000.0      2  1970     0
3          2  1290000.0      5  1935     2
4          1   996000.0      5  2020     1
...      ...        ...    ...   ...   ...
23759      0   543000.0      4  2020     2
23760      4   910000.0      3  2017     1
23761      0   430695.0      3  2022     2
23762      6   359000.0      2  2021     0
23763      2   604800.0      3  1978     1

[23764 rows x 5 columns]

In [56]:
y = df['price']
y

0         749000.0
1         240548.0
2         427000.0
3        1290000.0
4         996000.0
           ...
23759     543000.0
23760     910000.0
23761     430695.0
23762     359000.0
23763     604800.0
Name: price, Length: 23764, dtype: float64

In [69]:
model = Sequential()
model.add(Dense(5, activation="relu", input_shape=(5,)))
model.add(Dropout(.1))
model.add(Dense(128, activation="relu"))
model.add(Dropout(.1))
model.add(Dense(128, activation="relu"))
model.add(Dropout(.1))
model.add(Dense(1))
model.compile(loss="mean_squared_error", optimizer="adam",
              metrics=[keras.metrics.RootMeanSquaredError()])
model.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_44 (Dense)            (None, 5)                 30

 dropout_27 (Dropout)        (None, 5)                 0

 dense_45 (Dense)            (None, 128)               768

 dropout_28 (Dropout)        (None, 128)               0

 dense_46 (Dense)            (None, 128)               16512

 dropout_29 (Dropout)        (None, 128)               0

 dense_47 (Dense)            (None, 1)                 129

=================================================================
Total params: 17,439
Trainable params: 17,439
Non-trainable params: 0
_________________________________________________________________

In [70]:
model.fit(x, y, epochs=10, batch_size=10)

Epoch 1/10
2377/2377 [==============================] - 5s 2ms/step - loss: 18845501440.0000 - root_mean_squared_error: 137278.9219
Epoch 2/10
2377/2377 [==============================] - 5s 2ms/step - loss: 10978347008.0000 - root_mean_squared_error: 104777.6094
Epoch 3/10
2377/2377 [==============================] - 5s 2ms/step - loss: 11892802560.0000 - root_mean_squared_error: 109054.1250
Epoch 4/10
2377/2377 [==============================] - 5s 2ms/step - loss: 11669477376.0000 - root_mean_squared_error: 108025.3594
Epoch 5/10
2377/2377 [==============================] - 5s 2ms/step - loss: 11751674880.0000 - root_mean_squared_error: 108405.1406
Epoch 6/10
2377/2377 [==============================] - 5s 2ms/step - loss: 11464600576.0000 - root_mean_squared_error: 107072.8750
Epoch 7/10
2377/2377 [==============================] - 5s 2ms/step - loss: 12186798080.0000 - root_mean_squared_error: 110393.8281
Epoch 8/10
2377/2377 [==============================] - 5s 2ms/step - loss: 11696730112.0000 - root_mean_squared_error: 108151.4219
Epoch 9/10
2377/2377 [==============================] - 5s 2ms/step - loss: 9802836992.0000 - root_mean_squared_error: 99009.2734
Epoch 10/10
2377/2377 [==============================] - 5s 2ms/step - loss: 16095705088.0000 - root_mean_squared_error: 126868.8516